<h1>Chỉnh sửa thông tin khóa học</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input
      type="text"
      class="form-control"
      placeholder="Tên khóa học..."
      name="name"
      value="<%= data.name %>"
    />
    <span class="text-danger"><%= req.errors.name %></span>
  </div>
  <div class="mb-3">
    <label for="">Giá khóa học</label>
    <input
      type="number"
      class="form-control"
      placeholder="Giá khóa học..."
      name="price"
      value="<%= data.price %>"
    />
    <span class="text-danger"><%= req.errors.price %></span>
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" id="" class="form-select">
      <option value="active"<%= data.status === true ? "selected" : "" %>>Kích hoạt</option>
      <option value="inactive" <%= data.status === false ? "selected" : "" %> >Chưa kích hoạt</option>
    </select>
  </div>
  <button class="btn btn-success">Lưu</button>
  <a href="/" class="btn btn-danger">Hủy</a>
</form>
